@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@layer base {

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

 }


 @layer utilities {
  .sansation {
    font-family: 'Sansation', sans-serif;
  }

  .poppins {
    font-family: 'Poppins', sans-serif;
  }

  #authIcon {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    cursor: pointer
  }

  #authBtn {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    box-shadow: 0px 3px 10px #5E969E;
    cursor: pointer
  }

  #authTexts {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    cursor: pointer
  }

  #authBtn:hover #authIcon {
    transform: translateY(-2px);
  }

  .names-style {
    padding: 10px;
    background-color: #4A485B;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  .names-style:focus {
    border: 1px solid #5E969E;
  }

  .input-style {
    padding: 10px;
    background-color: #4A485B;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  .input-style:focus {
    border: 1px solid #5E969E;
  }

 }