@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@layer base {

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

 }


 @layer utilities {
  .title {
    font-family: 'Sansation', sans-serif;
  }

  #authIcon {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    cursor: pointer
  }

  #authBtn {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    cursor: pointer
  }

  #authTexts {
    transition-timing-function: cubic-bezier(0.810, -0.310, 0.195, 1.200);
    cursor: pointer
  }

  #authBtn:hover #authIcon {
    transform: translateY(-2px);
  }
 }